body {
    font-family: 'Gentium Book Plus', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

section {
    margin-top: 8%;
}

footer {
    background-color: rgba(0, 0, 0, 0.947);
    color: white;
    text-align: center;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.for_section {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#first_section {
    color: white;

}

#section1 {
    padding: 8%;
    margin-top: 0;

}



.achievement_section {
    padding-top: 180px;
    padding-left: 50px;
}

.achievement_section h1 {
    color: olivedrab;
}

.update_section {
    background-color: rgb(251, 233, 236);
    padding: 50px 10px;
    margin-bottom: 8%;
}

.background {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.background_of_achievement {
    background-color: rgb(209, 246, 234);
}

.button {
    text-decoration: none;
    background-color: rgb(239, 97, 81);
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
}




.keeping_in_row {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
}

#donate {
    border: none;
}


.box {
    width: 50%;
    background-color: rgb(232, 227, 227);
    color: black;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border-radius: 5%;
}

#chosen_box {
    color: red;
    border: 2px solid red;
    background-color: rgb(234, 164, 164);
}

.money_input {
    box-shadow: 0px 1px rgb(170, 163, 163);
    color: gray;
    margin-bottom: 5%;
    border: none;
    padding: 0px 200px;
}

.align {
    text-align: left;
    padding: 5%;
}

#food {
    background-color: rgb(196, 255, 235);
    padding: 50px 20px;
    margin-right: 3%;
}

#family {
    background-color: rgb(247, 215, 220);
    padding: 50px 20px;
    margin-right: 3%;
}

#education {
    background-color: rgb(182, 245, 210);
    padding: 50px 20px;
}



.designed_text {
    color: orangered;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: oblique;
}



.email {
    border: none;
    text-align: left;
    padding: 2px 10px;
    color: gray;
    background-color: rgb(210, 203, 203);
    margin-right: -2px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.subscribe {
    border: none;
    text-align: center;
    background-color: salmon;
    color: white;
    margin-left: -3px;
    padding: 2px 20px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}